<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h3 class="text-center">Create Brand</h3>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form novalidate #f="ngForm" (ngSubmit)="onCreate()">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="name" name="name" placeholder="brand name..."
                       [(ngModel)]="name"  required>
                </div>

                <button type="submit" class="btn btn-outline-success w-100 mb-3" [disabled]="!f.valid">
                    Create
                </button>
                <button class="btn btn-outline-primary w-100" routerLink="/">
                     Back
                </button>

            </form>
        </div>
    </div>
